{{ include pre-content }}
<div class="alert alert-block alert-info fade in">
	<h4 class="alert-heading">There's no turning back!</h4>
	<p>Are you sure you want to delete the post '{{=post.title}}'?</p>
	<p>
		<a class="btn btn-danger" href="/post/{{=post.title}}/delete">Delete</a> <a class="btn" href="/">Cancel</a>
	</p>
</div>
{{ include post-content }}