<div class="span9">
	<form>
		<input class="input-xxlarge" type="text" value="{{post.title}}">
		<textarea class="input-xxlarge" rows="13">{{post.content}}</textarea>
		<div class="pull-right">
			<button type="button" class="btn btn-danger">Cancel</button>
			<button type="submit" class="btn btn-info">Save changes</button>
		</div>
	</form>
</div>