<div class="outer-post">
	<h2>{{ if (noTitleLink) { }}
			{{= post.title}}
		{{ } else { }}
			<a href="/post/{{= post.title}}">{{= post.title}}</a>
		{{ } }}
	</h2>
	<div class="muted" style="margin-top: -12px">{{=post.createdAt}}
	{{ if (user) { }}
		<div class="edit-post-menu">
			{{ if (post.status == 'draft') { }}
				<span class="label label-warning">Draft</span>
			{{ } else { }}
				<span class="label label-success">Published</span>
			{{ } }}
			<a href="/post/{{= post.title}}/edit"><span class="label">Edit</span></a>
			<a href="/post/{{= post.title}}/confirm-deletion"><span class="label label-important">Delete</span></a>
		</div>
	{{ } }}</div>
	<div class="inner-post">
		{{ if (noTitleLink) { }}
			{{- post.content}}
		{{ } else { }}
			{{- post.content.substr(0,post.content.search("<h3>"))}}
			<a class="btn" href="/post/{{= post.title}}">Full Blog Entry »</i></a>
		{{ } }}
	</div>
</div>