#site-title a:hover {
  text-decoration: none;
}
body {
  padding-top: 20px;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
#edit-form-actions {
  margin-top: 10px;
}
.edit-post-menu {
  float: right;
}
.outer-post {
  margin-bottom: 35px;
}
