#site-title a:hover
	text-decoration none

body
	padding-top 20px
	background-image:url('../img/texture.png');
	background-size 200px

.container-narrow
	margin 0 auto
	max-width 700px

#edit-form-actions
	margin-top 10px

.edit-post-menu
	float right

.outer-post
	margin-bottom 20px
	background rgba(102, 102, 102, 0.75)
	padding 10px
	border-radius 5px
	color white

.navbar-inner
	background rgba(0, 0, 0, 0.5)
	background-color rgba(0, 0, 0, 0.5);
	background-image rgba(0, 0, 0, 0.5)
	border none
h2, h2 a, h2 a:hover
	color #111
a, a:hover
	color #999