{{ include pre-content }}
<form method="get" action="/{{ if (post.title) { }}updatePost{{ } else { }}createPost{{ } }}">
	<input type="hidden" name="postId" value="{{=post.id}}">
	<input style="width:100%;" name="title" type="text" placeholder="Blog Entry Title" value="{{= post.title}}" required>
	<textarea class="xxlarge ckeditor" name="content">{{- post.content}}</textarea>
	<div id="edit-form-actions" class="pull-right">
		<a href="/" class="btn btn-danger">Cancel</a>
		<button name="status" value="draft" type="submit" class="btn btn-inverse">Save as Draft</button>
		<button name="status" value="published" type="submit" class="btn btn-success">Publish</button>
	</div>
</form>
{{ include post-content }}