extends layout

block content
 each post in posts
  include postTemplate

block append head
 script(src='/datepicker/js/bootstrap-datepicker.js')
 link(href='/datepicker/css/datepicker.css', rel="stylesheet")
 script
  $(function() {
   $('.date').datepicker().on('changeDate', function(ev){$('.date').datepicker('hide')});;
  }); 