extends layout

block content
 include postTemplate
 #disqus_thread
  script(type="text/javascript")
   var disqus_shortname = 'dansilversblog'; // required: replace example with your forum shortname
   (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
block append head
 script
  $(function() {
   $('.deletebtn').click(function() {
    $('#deleteModal p').html('Are you sure you want to delete the post "' + $(this).attr("postTitle") + '"?');
    $('#deleteModal .btn-danger').attr('href', '/post/' + $(this).attr("postTitle") + '/delete');
   });  
  });